@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap%27");
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'poppins';
    scroll-behavior: smooth;
}

body{
    background-image: url("sky2.jpg");
    min-height: 100vh;
    overflow-x: hidden;
}

header{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000000000;

}

header .logo{
    color: #ffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    letter-spacing: 2px;
}

header ul{
    display: flex;
    justify-content:center;
    align-items: center;
}

header ul li{
    list-style: none;
    margin-left: 20px;
}

header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #ffff;
    border-radius: 20px;
}

header ul li a:hover, header ul li a.active{
    background:#ffff;
    color: black;
}
.nomes{
    color: #ffff;
    text-align: center;
    margin-top: 21%;
    font-size: 20px;
}

#background-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(path/to/your/image.jpg);
  background-size: cover;
  filter: brightness(0.7); /* Adjust the brightness value as needed */
}

#background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.container_us{
  z-index: 222;
  background: rgba(229, 207, 207, 0.1);
  backdrop-filter: blur(20px);
  
  width: 110%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  transform: translate(-80px, 50px);
  margin-top: 15%;
  
}

.container_us .content_us{
  font-size:medium;
  margin-bottom: 10px;
  text-align: center;
  color:aliceblue
}

.container_us .content_us #inte{
  padding-right: 20%;
}

.thank_u{
  margin-top: 7%;
  font-size: small;
  margin-left: 14%;
  color: #ffff;
  border:5px transparent;
  margin-right: 15%;
}

.thank_u h1{
  text-align:center;
  font-size:4em;
}

.thank_u h2{
  text-align:center;
  font-size: 2em;
}

.media-icons{
  margin-top: 25px;
  position: absolute;
  margin-left: 20%;

}
  
.media-icons a{
  color: #fff;
  font-size: 2.5em;
  margin: 60px;
}

.quiz-container{
  margin-bottom: 50%;
}

#selected_language{
  cursor: pointer;
  line-height: 2;
  width: 90px;
  color:#ffff;
  padding: 7px;
  

}


.menu_language{
  
  position: relative;
}
.menu_language ul{
  margin-top:5px ;
  padding-right: 17px;
  background-color: #fdf7f790;
  border: 1px solid cornsilk;
  box-shadow: 0px 1px 10px rgba(0, 0 0, 0.2);
  border-radius: 5px;
  display:none;
  position: absolute;
  top:40px;
  left:0;
  

}

.menu_language ul li{
  list-style: none;
  display: flex;
  justify-content: space-between;
 
}

.menu_language ul li a{
  width: 140px;
  display:block;
  padding: 10px;
  text-decoration: none;
  color: rgba(12, 12, 12, 0.811);
  text-align:left;
}



.menu_language:hover ul{
  display:block;    
}

#flag{
  margin-right:5px;
  position: relative;
  top:6px;
}

#flag_br{
  margin-right: 3px;
  position: relative;
  top:6px
}